<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %}
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/materialicons.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">

    <script src="{% static 'js/axios.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    
</head>

<body>
    <header>
        <nav class="top-nav blue">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">Contable Demo</a></div>
            </div>
        </nav>

        <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(-100%);">
            <div class="container">
                <h4>
                    Sistema Contable
                </h4>
                <ul class="collection">
                    <li class="collection-item">Python 3</li>
                    <li class="collection-item">Django</li>
                    <li class="collection-item">Mysql</li>
                    <li class="collection-item">VueJS</li>
                    <li class="collection-item">MaterializeCSS</li>
                </ul>
            </div>
            <hr>

            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Catálogo de Cuentas<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#modal1">Agregar Cuenta</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </ul>
    </header>
    <main>
        <div class="container">
            <div id="app">
                <ul class="collapsible" data-collapsible="accordion" v-for="account in accounts">
                    <li>
                        <div class="collapsible-header">
                            <% account.AccountID %>
                            <% account.AccountName %>
                        </div>
                        <div class="collapsible-body">
                            <ul v-for="subaccount in account.SubAccounts">
                                <li class="collection-item">
                                    <% account.AccountID %>.
                                    <% subaccount.SubAccountID %>
                                    <% subaccount.SubAccountName %>
                                    <ul v-for="sub_subaccount in subaccount.SubSubAccounts">
                                        <li class="collection-item">
                                            <% account.AccountID %>.
                                            <% subaccount.SubAccountID %>.
                                            <% sub_subaccount.SubSubAccountID %>
                                            <% sub_subaccount.SubSubAccountName %>
                                        </li>
                                    </ul>
                                </li>
                            </ul>                   
                        </div>
                    </li>
                </ul>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="input-field">
                        <h4>Agregar Cuenta</h4>
                        <p>
                            <form id="form_account" v-on:submit.prevent="addAccount" action="{% url 'account:newAccount' %}">
                                <div class="input-field">
                                    <input v-model="newAccount.AccountName" type="text" class="validate">
                                    <label class="active" for="account_name">Nombre</label>
                                </div>
                                <div class="input-field">
                                    <select id="account_category">
                                        <option value="">----</option>
                                        <option v-for="category in categories" v-bind:value="category.id"><% category.name %></option>
                                    </select>
                                    <label>Categoría</label>
                                </div>
                                <button class="waves-effect waves-light btn">Guardar</button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                </div>
            </div>

            </div>



        </div>
    </main>
    <script src="{% static 'js/main/main.js' %}"></script>
    <script src="{% static 'js/ajax/home.js' %}"></script>
</body>

<script>
$(document).ready(function(){
    Materialize.updateTextFields();
    $(".button-collapse").sideNav();
    $('.modal').modal();
});
</script>

</html>